<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                                                                          "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Videoteca Ruby</title>
</head><body>
  
<h2>Inserisci un film nel database!</h2>

<% require 'cgi'
cgi = CGI.new "html4"
titolo  ||= cgi["titolo"]
regista ||= cgi["regista"]
anno    ||= cgi["anno"]
%>

<form action="insert.rhtml" method="GET">
Titolo: <input type="TEXT" name="titolo" size="40"><br>
Regista: <input type="TEXT" name="regista" size="40"><br>
Anno: <input type="TEXT" name="anno" size="4">
  <input type="SUBMIT" value="Inserisci!">
  </form>
<hr>

<% if (titolo != "" and regista != "" and anno != "") 
     require 'videoteca'
     print Videoteca.new.inserisci(titolo,regista,anno)
   elsif (titolo+regista+anno).size > 0 %>
Dati non sufficienti 
<% end %>
</body> </html>
