#header {
  text-align: center;
}

#content { 
  width: 100%;
  height: 25em;
}
      
#menu {
  position: relative;
  width: 20%;
}

#site_body {
  float: right;
  width: 65%;
}

#footer {
  width: 100%;
  text-align: center;
} 
