<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                                                                          "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Fattoriale di numeri primi</title>
</head><body>
  
<% def fattoriale(n)
     if n == 1
       return n
     else
       return n*fattoriale(n-1)
     end
   end
   def primo?(n)
     2.upto(n-1) do |i|
       return false if n % i == 0
     end
     true
   end %>
   
<h2>Inserisci un numero inferiore a 30 e maggiore di 4:</h2>

<% require 'cgi'
cgi = CGI.new "html4"
if cgi.params.has_key? "num"
  numero = cgi["num"]
else
  numero = ""
end %>

<form action="fatt_primi.rhtml" method="GET">
  <input type="TEXT" name="num" size="20" value="<%= numero %>">
  <input type="SUBMIT" value="Calcola!">
  </form>
<hr>

<% unless numero == ""
     n = numero.to_i
     if n < 4 or n > 30 %>
Numero <%= n %> sbagliato <br>
Introdurre un numero maggiore di 4 e minore di 30 <br>
  <% else
       2.upto(n) do |i| 
         if primo?(i) %>
Il fattoriale del numero primo <%= i %> risulta: <%= fattoriale(i) %> <br>
      <% else %>
Il numero <%= i %> non &egrave; primo <br>
      <% end
       end
     end
   end %> 
         
</body> </html>
