<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<% require 'sito'
       require 'cgi'
       current = Pagina.new("home", CGI.new("html4"))
%>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="sito.css" type="text/css">
    <title> Pagina di prova </title>
  </head>
  <body>

    <div id="header">
      <%= current.header %>
    </div>

    <div id="content">

      <div id="menu">
        <%= current.menu %>
      </div>

      <div id="site_body">
        <p> Corpo della pagina </p>
      </div>
      
    </div>

    <div id="footer">
      <%= current.footer %>
    </div>

  </body>
</html>
