<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                                                                          "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Videoteca Ruby</title>
</head><body>
<h2>Cerca un film nel database!</h2>

<% require 'cgi'
cgi = CGI.new "html4"
if cgi.params.has_key? "q"
  query = cgi["q"]
else
  query = ""
end %>

<form action="query.rhtml" method="GET">
  <input type="TEXT" name="q" size="20" value="<%= query %>">
  <input type="SUBMIT" value="Cerca!">
  </form>
<hr>

<% unless query == "" %>
<table borders="1" cellpadding="5">
  <% require 'videoteca'
     Videoteca.new.cerca(query) do |titolo,regia,anno| %>
  <tr>
    <td><%= titolo %></td>
    <td><%= regia  %></td>
    <td><%= anno   %></td>
  </tr>
  <% end %>
</table>
<% end %> 
</body> </html>
