<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Ricerca con google</title>
</head><body>
<h1>Cerca con google!</h1>

<% require 'cgi'
cgi = CGI.new
if cgi.params.has_key? "q"
  query = cgi.params["q"]
else
  query = ""
end %>

<form action="google.rhtml" method="GET">
  <input type="TEXT" name="q" size="20" value="<%= query %>">
  <input type="SUBMIT" value="Cerca!">
  </form>
<hr>

<% unless query == "" 
  require 'google'
  Risultati = Struct.new :titolo, :url, :snip
  risultati = []
  google = RicercaGoogle.new
  num,time = google.search(query) do |titolo,url,snip|
    risultati << Risultati.new(titolo,url,snip)
  end %>

<h3>Trovati <%= num %> risultati <br>
in circa <%= time %> secondi</h3>
<br>

<% risultati.each do |risultato| %>
<p>
<a href="<%= risultato.url %>"><%= risultato.titolo %></a><br>
<%= risultato.snip %>
</p>
<% end
end %>

</body> </html>
