<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                                                                          "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Visualizza directory</title>
</head><body>
<h1>Visualizza directory</h1>

<% require 'cgi'
   cgi = CGI.new
   if cgi.params.has_key? "q"
     dir = cgi.params["q"]
   else
     dir = ""
   end %>

<form action="directory.rhtml" method="GET">
  <input type="TEXT" name="q" size="20" value="<%= dir %>">
  <input type="SUBMIT" value="Cerca!">
  </form>
<hr>

<% unless dir == "" 
out = `ls #{dir}`
puts out.gsub("\n", "<br>\n")
end %>

</body> </html> 
