<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                                                                         "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Ultime 25 foto inserite in flickr</title>
</head>
<body>
<h3>Ecco le ultime 25:</h3>
<hr>

<% require 'rubygems'
   require 'flickr'

   KEY = "f2bd8189ed228d57ca97ecb36c03e798"

   flickr = Flickr.new KEY

   foto = flickr.photos[0..24]
   foto.each_index{|i| foto[i,5] = [foto[i,5]]}
%>

<table borders="0" cellpadding="5">
<% foto.each do |arr| %>
  <tr>
    <% arr.each do |fotografia| %>
      <td><a href="<%= fotografia.source %>">
        <img height="100" width="100" src="<%= fotografia.source %>">
      </a></td>
    <% end %>
  </tr>
<% end %>
</table>
<hr>
</body> </html>
