<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Ricerca con tag</title>
</head>
<body>

<% require 'cgi'
   cgi = CGI.new
   if cgi.params.has_key? "q"
     query = cgi["q"]
   else
     query = ""
   end
%>

<h4>Inserisci il tag:</h4>
<hr>
<form action="tag.rhtml" method="GET">
  <input type="TEXT" name="q" size="20" value="<%= query %>">
  <input type="SUBMIT" value="Cerca!">
  </form>
<hr>

<% unless query == "" 
   require 'rubygems'
   require 'flickr'

   KEY = "f2bd8189ed228d57ca97ecb36c03e798"

   flickr = Flickr.new KEY

   foto = flickr.tag(query)[0..24]
   foto.each_index{|i| foto[i,5] = [foto[i,5]]}
%>

<table borders="0" cellpadding="2">
<% foto.each do |arr| %>
  <tr>
    <% arr.each do |fotografia| %>
      <td><a href="<%= fotografia.source %>">
        <img height="80" width="80" src="<%= fotografia.source %>">
      </a></td>
    <% end %>
  </tr>
<% end %>
</table>
<hr> 
<% end %>
</body> </html>
