<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"                          
                                                                       "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Excuse generator!</title></head><body><h3>
<% require 'net/telnet'
begin
  host = Net::Telnet::new({"Host" => "towel.blinkenlights.nl",
                          "Port"       => 666})
  line = host.waitfor(/^Your excuse is: /)
  if line
    line.each_line do |l|
      if l =~ /^Your excuse is: (.*)$/
        puts $1
      end
    end
  end
rescue TimeoutError, Errno::ECONNREFUSED
  puts "Server non raggiungibile"
end %>
</h3><br>
<form action="" method="">
<input type="SUBMIT" value="Genera!">
</form>
</body> </html>
