<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"        
                                                                     "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>FTP HTTP client</title></head><body>
<% require 'cgi'
cgi = CGI.new
if cgi.params.has_key? "q"
  path = cgi.params["q"][0] %>
<h4>Path: <%= path %></h4>
<hr>
<% require 'net/ftp'
       begin
       ftp = Net::FTP.new(path,"anonymous","mail@ruby.org")
       ftp.passive = true
       filelist = ftp.nlst
       filelist.each do |file| %>
         <h5><a <%
         print "href=\"ftp.rhtml?q=#{CGI.escape(path)}&p=#{CGI.escape(file)}\">"%>
         <%=file%></a></h5><br><% 
       end
       rescue StandardError => e %>
          Errore!<br><%=e%><%
       ensure
          ftp.close if ftp
       end
else
  query = "" %>
<h2>Inserisci il server ftp:</h2><br> 
<form action="ftp.rhtml" method="POST">
  <input type="TEXT" name="q" size="20">
  <input type="SUBMIT" value="Connetti">
  </form>
<hr>
<% end %>
</body> </html>

