<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Ricerca con yahoo</title>
</head><body>
<h1>Cerca con yahoo!</h1>

<% require 'cgi'
cgi = CGI.new
if cgi.params.has_key? "q"
  query = cgi.params["q"]
else
  query = ""
end %>

<form action="yahoo.rhtml" method="GET">
  <input type="TEXT" name="q" size="20" value="<%= query %>">
  <input type="SUBMIT" value="Cerca!">
  </form>
<hr>

<% unless query == "" 
  require 'net/http'
  res = Net::HTTP.post_form URI.parse("http://it.search.yahoo.com/search?"),
  {"p" => query}
  arr = res.body.split("\n")
  arr.each do |line|
    print line if (line =~ /Risultati ricerca/)..(line =~ /Pagina risultati/)
  end
end %>

</body></html>
