<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                                                                          "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Negozio di libri online</title>
</head><body>
<h2>Dettagli del libro</h2>
<hr>
<% require 'db-backend'
   require 'cgi'
   cgi = CGI.new
   isbn = cgi["id"]
   conn = DBgestione.new
   conn.visualizza(isbn) do |isbn,titolo,autore,editore,cover,prezzo| %>
   ISBN: <%= isbn %><br>
   Autore: <%= autore %><br>
   Titolo: <%= titolo %><br>
   Editore: <%= editore %><br>
   Prezzo: <%= prezzo %> euro<br>
<br>

<a href="carrello.rhtml?id=<%= isbn %>">Acquista il libro</a><br>
<a href="index.rhtml">Torna all'indice</a>
<% end %>
</body> </html>
