<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                                                                          "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Negozio di libri online</title>
</head><body>
<h2>Inserisci un parametro di ricerca</h2>
<hr>

<% require 'cgi'
   cgi = CGI.new
   query = cgi["q"] %>

<form action="index.rhtml" method="GET">
  <input type="TEXT" name="q" size="20" value="<%= query %>">
  <input type="SUBMIT" value="Cerca!">
  </form>
<hr>

<table border="1" cellpadding="3">
  <tr><td>AUTORE</td><td>TITOLO</td><td>EDITORE</td><td>PREZZO (euro)</td>
  <td>dettagli</td><td>acquista</td></tr>
<% require 'db-backend'
   conn = DBgestione.new
   conn.visualizza(query) do |isbn,titolo,autore,editore,cover,prezzo| %>
  <tr>
    <td><%= autore %></td>
    <td><%= titolo %></td>
    <td><%= editore %></td>
    <td><%= prezzo %></td>
    <td><a href="dettagli.rhtml?id=<%= isbn %>">dettagli</a></td>
    <td><a href="carrello.rhtml?id=<%= isbn %>">acquista</a></td>
  </tr>
<% end
   conn.close %>
</table>
</body> </html>
