<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Negozio di libri online</title>
</head><body>
<h2>Gestione delle giacenze</h2>
<hr>
<table border="1" cellpadding="3">
  <tr><td>ISBN</td><td>Titolo</td><td>Giacenza</td><td>Modifica</td></tr>
<% require 'db-backend'
   conn = DBgestione.new
   conn.vis_giacenza do |isbn,titolo,giacenza| %>
  <tr>
    <td><%= isbn %></td>
    <td><%= titolo %></td>
    <td><%= giacenza %></td>
    <td><a href="modifica.rhtml?id=<%= isbn %>">modifica</a></td>
  </tr>
<% end
   conn.close %>
</table>
</body> </html>

