<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                                                                          "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Negozio di libri online</title>
</head><body>
  
<h2>Inserisci un libro nel database!</h2>

<% require 'cgi'
cgi = CGI.new "html4"
isbn ||= cgi["isbn"]
titolo  ||= cgi["titolo"]
autore ||= cgi["autore"]
editore    ||= cgi["editore"]
cover    ||= cgi["cover"]
prezzo    ||= cgi["prezzo"]
%>

<form action="ins_libro.rhtml" method="POST">
Isbn: <input type="TEXT" name="isbn" size="40"><br>
Titolo: <input type="TEXT" name="titolo" size="40"><br>
Autore: <input type="TEXT" name="autore" size="40"><br>
Editore: <input type="TEXT" name="editore" size="40"><br>
Copertina: <input type="FILE" name="cover"><br>
Prezzo: <input type="TEXT" name="prezzo" size="5"><br>
  <input type="SUBMIT" value="Inserisci!">
  </form>
<hr>

<% if [isbn,titolo,autore,editore,cover,prezzo].all? {|i| i != ""}
     require 'db-backend'
     conn = DBgestione.new
     print conn.inserisci(cgi.params, Libro.new, "libri")
     conn.close
   elsif (isbn+titolo+autore+editore+cover+prezzo).size > 0 %>
Dati non sufficienti 
<% end %>
</body> </html>
